
.card {
    width: 250px;
    height: 250px;
    border-radius: 5%;
    float: left;
    margin: 20px 20px;
    z-index: 3;
    position: relative;
    justify-content: center;
    align-items: center;
    
}

.card img {
    width:120px;
    height:120px;
    position: relative;
    z-index: 4;
    padding:auto;
}
.vehicles {
    margin-top: 200px;
  }
.bottom-section{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
