.signUpBtn {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    cursor: pointer;
    color: blue;
}
.loginBtns {
    border: 1px solid gray;
    border-radius: 15px;
    padding: 5px;
    width: 300px;
    margin-top: 10px;
    font-weight: 550;
}